body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.image-grid{
    padding-top: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.image-grid img{
    height: 200px;
    width: 200px;
}